<% include header %>
<script src="../javascript/courselist.js" type="text/javascript"> </script>
<h1> Course Description </h1>
<h3 id="course-name"><%= course %></h3>
<p> <%= description %> </p>
<h4> Section Information </h4>
<% if(sectionInformation.length  > 0){ %>
<table class="pure-table pure-table-bordered">
<thead>
<tr>
<th>
Section
</th>
<th>
Credits
</th>
<th>
Available Seats
</th>
<th>
Day/Time
</th>
<th>
Instructor
</th>
</tr>
</tr>
</thead>
<tbody>
<% for(var i = 0; i < sectionInformation.length; i++) { %>
<tr>
<td>
<%= sectionInformation[i].SectionNumber + "(" + sectionInformation[i].SectionTypeDescr  + ")" %>
</td>
<td>
<%= sectionInformation[i].CreditHours %>
</td>
<td>
<%= sectionInformation[i].AvailableSeats %>
</td>
<td>
<%= sectionInformation[i].Days + " " + sectionInformation[i].Times %>
</td>
<td>
Professors

</td>
<%} %>


</tbody>

</table>
<%} %>


<h4> Course Reviews </h4>
<form id="comment-form" >
<div>
<textarea id="comment-text" name="comments" style="width: 500px;" id="comments" style="font-family:sans-serif;font-size:1.2em;">
Enter your Course Review!
</textarea>
</div>
<button id="add-comment" type="submit" class="btn btn-primary">Add Comment </button>
</form>
<table class="pure-table pure-table-bordered">
<thead>
<tr>
<th> Comments </th>
</tr>
</thead>
<tbody>
<% if(typeof(comments) != "undefined") { %>
<% for(var j = 0; j < comments.length; j++){ %>
<tr> <td> <%=comments[j] %> </td> </tr>
<% } %>
<%} %>


</tbody>
</table>

<%include footer %>