<% include header %>
<script src="../javascript/courselist.js" type="text/javascript"> </script>
<div class="row">
<div class="col-md-4">
</div>
<div class="col-md-4">
<h3 id="course-name"><%=department + " " + courseNumber + ": " + title %></h3>
</div>

</div>
<div class="row">
<div class="col-md-12">
<p> <%= description %> </p>
</div>
</div>
<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8">
<h4 style="text-align: center; vertical-align: middle;"> Section Information </h4>
<% if(sectionInformation.length  > 0){ %>
<table class="pure-table pure-table-bordered">
<thead>
<tr>
<th>
Section
</th>
<th>
Credits
</th>
<th>
Available Seats
</th>
<th>
Day/Time
</th>
<th>
Instructor
</th>
</tr>
</tr>
</thead>
<tbody>
<% for(var i = 0; i < sectionInformation.length; i++) { %>
<tr>
<td>
<%= sectionInformation[i].SectionNumber + "(" + sectionInformation[i].SectionTypeDescr  + ")" %>
</td>
<td>
<%= sectionInformation[i].CreditHours %>
</td>
<td>
<%= sectionInformation[i].AvailableSeats %>
</td>
<td>
<%= sectionInformation[i].Days + " " + sectionInformation[i].Times %>
</td>
<td>
<% for(var a = 0; a < sectionInformation[i].Instructors.length; a++){ %>
<%=sectionInformation[i].Instructors[a].name  %>
<%} %>
</td>
<%} %>


</tbody>

</table>
<%} %>
</div>
</div>
<div class="row">
<div class="col-md-2">
</div>
<div class="col-md-8"
<h4 style="text-align: center; vertical-align: middle"> Course Reviews </h4>
<form id="comment-form" >
<div>
<textarea id="comment-text" name="comments" style="width: 500px;" id="comments" style="font-family:sans-serif;font-size:1.2em;">
Enter your Course Review!
</textarea>
</div>
<button id="add-comment" type="submit" class="btn btn-primary">Add Comment </button>
</form>
<table class="table table-striped">
<thead>
<tr>
<th> Comments </th>
</tr>
</thead>
<tbody id="comment-body">
<% if(typeof(comments) != "undefined") { %>
<% for(var j = 0; j < comments.length; j++){ %>
<tr> <td> <%=comments[j] %> </td> </tr>
<% } %>
<%} %>


</tbody>
</table>
</div>
</div>

<%include footer %>